<% provide(:title, "Contact-us")%>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to Sample App</h1>
        <p class="lead">Get help on the Ruby on Rails Tutorial at the
        <button type="button" class="btn btn-dark"><a href="https://www.railstutorial.org/help">Rails Tutorial help page</a>.</button>
        To get help on this sample app, see the
        <button type="button" class="btn btn-dark"><a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
        book</a>.</button>
      </p>
      </div>
    </div>
  </div>
</header>