<% provide(:title, "Home")%>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to Sample App</h1>
        <p class="lead">This is the home page for the
        <button type="button" class="btn btn-dark"><a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a></button>
        sample application.
      </p>
     </div>
    </div>
  </div>
</header>